<IfModule mod_rewrite.c>

    RewriteEngine on
    RewriteBase /src/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ /src/public/index.php [L,QSA]
</IfModule>

# DISABLE CACHING
<IfModule mod_headers.c>
	Header set Cache-Control "no-cache, no-store, must-revalidate"
	Header set Pragma "no-cache"
	Header set Expires 0
</IfModule>